@model BookVM[]
@{
    ViewBag.Title = "Boklista";
}

<ul>
    @foreach(var book in Model)
    {
        <li>
            <a asp-controller="Book" asp-action="Details" asp-route-isbn="@book.Isbn">
                <div class="d-flex container-fluid">
                    <div class="col-2">
                        @book.Title
                    </div>
                    <div class="col-2 right-aligned">
                        @book.Author
                    </div>
                </div>
            </a>
        </li>
    }
</ul>