@model UsersVM

@{
    ViewBag.Title = "Min sida";
}

<h2>Välkommen @User.FindFirst("DisplayName")</h2>

@if (Model.LoanedBooks?.Length == 0)
{
    <p>Inga lånade böcker</p>
}
else
{
    <ul>
    @foreach(var book in Model.LoanedBooks)
    {
            <li>
                <div class="d-flex container-fluid">
                    <div class="col-2">
                        @book.Title
                    </div>
                    <div class="col-2 right-aligned">
                        @book.Author
                    </div>
                </div>
            </li>
    }
    </ul>
}
